/* COMMON */
body {
  font-size: 12px;
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font: inherit;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

header a::before,
header a::after,
.btn-search::before,
.max::before,
.all-service::after {
  content: "";
  display: block;
  background-size: 457px 434px;
  background-image: url("../images/sp-bg.png");
  background-repeat: no-repeat;
}

.weather::before {
  content: "";
  display: block;
  background-size: 215px;
  background-image: url(../images/sp-weather.png);
  background-repeat: no-repeat;
}
/* HEADER */
header {
  position: relative;
  height: 213px;
}

header .group1 {
  position: relative;
  width: 1130px;
  height: 160px;
  margin: 0 auto;
  background-color: #fff;
}

header .group1 .logo {
  position: absolute;
  top: 50%;
  left: -9px;
  margin-top: -32px;
}

header .group1 .logo a::before {
  display: inline-block;
  width: 222px;
  height: 52px;
  background-position: 0 -158px;
  vertical-align: top;
}

header .group1 .search_area {
  position: absolute;
  top: 50%;
  left: 238px;
  margin-top: -28px;
}

header .group1 .search_area .search-text {
  position: relative;
  width: 582px;
  height: 52px;
  border: 2px solid #19ce60;
  border-radius: 2px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}

header .group1 .search_area .search-text:focus {
  outline: none;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 5%);
}

header .group1 .search_area .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 56px;
  background-color: #19ce60;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}
header .group1 .search_area .btn-search::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -420px 0;
  background-repeat: no-repeat;
  vertical-align: top;
}

header .group1 .search_area .btn-keyboard {
  position: absolute;
  top: 0;
  right: 84px;
  bottom: 0;
  width: 36px;
  z-index: 400;
}

header .group1 .search_area .btn-keyboard::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 20px;
  height: 12px;
  background-position: -420px -402px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: -6px 0 0 -10px;
}

header .group1 .search_area .btn-arw {
  position: absolute;
  top: 0;
  right: 64px;
  bottom: 0;
  width: 22px;
}

header .group1 .search_area .btn-arw::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 10px;
  height: 5px;
  background-position: -408px -100px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: -2px 0 0 -5px;
}

header .group1 .service_area {
  position: absolute;
  top: 12px;
  right: 0px;
}

header .group1 .service_area > * {
  float: left;
}

header .group1 .service_area .link-start {
  font-size: 11px;
  color: #404040;
}

header .group1 .service_area .link-start:hover {
  text-decoration: underline;
}
header .group1 .service_area .link-start::after {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-position: -308px -345px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: -3px 0 0 3px;
}

header .group1 .bar {
  width: 1px;
  height: 10px;
  margin: 3px 7px;
  background-color: #e4e8eb;
}

header .group1 .service_area .link-junior::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 10px;
  background-position: -262px -330px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3px;
}

header .group1 .service_area .link-junior:hover::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 10px;
  background-position: -200px -330px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3px;
}
header .group1 .service_area .link-bin {
  margin-left: 6px;
}

header .group1 .service_area .link-bin::before {
  content: "";
  display: inline-block;
  width: 34px;
  height: 11px;
  background-position: -369px -299px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3px 3px 2px;
}

header .group1 .service_area .link-bin:hover::before {
  content: "";
  display: inline-block;
  width: 34px;
  height: 11px;
  background-position: -380px -199px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3px 3px 2px;
}

header .group2 {
  position: relative;
  height: 52px;
  border-top: 1px solid #e4e8eb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

header .group2 .inner {
  position: relative;
  width: 1130px;
  padding: 0 30px;
  margin: 0 auto;
}

header .group2 .inner .group_nav {
  position: relative;
  padding: 11px 270px 11px 0;
}

header .group2 .inner .group_nav::after {
  content: "";
  display: block;
  clear: both;
}

header .group2 .inner .group_nav .nav-list {
  float: left;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  letter-spacing: -0.3px;
}

header .group2 .inner .group_nav .nav-list + .nav-list {
  margin-left: 12px;
}

header .group2 .inner .group_nav .nav-list + .nav-list a {
  color: #000;
}

header .group2 .inner .group_nav .nav-list .nav-item {
  float: left;
}

header .group2 .inner .group_nav .nav-list .nav-item a {
  color: #03c75a;
}

header .group2 .inner .group_nav .nav-list + .nav-list .nav-item a {
  color: #000;
}

header .group2 .inner .group_nav .nav-list .nav-item + .nav-item {
  margin-left: 12px;
}

header .group2 .inner .group_nav .btn-nav-more {
  float: left;
  margin-left: 17px;
  font-size: 13px;
  line-height: 30px;
  color: #202020;
  text-align: right;
}

header .group2 .inner .group_nav .btn-nav-more::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 7px;
  background-position: -444px -339px;
  background-repeat: no-repeat;
  margin-left: 7px;
  vertical-align: 2px;
}

header .group2 .inner .group_weather {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  overflow: hidden;
  max-width: 270px;
  height: 52px;
  text-align: right;
}

header .group2 .inner .group_weather a {
  display: block;
  padding: 12px 0 11px;
  font-size: 13px;
  line-height: 29px;
}

header .group2 .inner .group_weather a::after {
  content: "";
  display: block;
  clear: both;
}

header .group2 .inner .group_weather a > * {
  float: left;
}

header .group2 .inner .group_weather .weather {
  font-size: 15px;
  font-weight: bold;
}

header .group2 .inner .group_weather .weather::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 29px;
  background-position: 0 0;
  vertical-align: top;
  margin-right: 9px;
  margin-top: 1px;
}

header .group2 .inner .group_weather .min {
  margin-left: 9px;
  color: #2586ee;
}

header .group2 .inner .group_weather .max {
  color: #e9564a;
}

header .group2 .inner .group_weather .max::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 11px;
  background-position: -444px -392px;
  margin: 0 3px;
  vertical-align: -1px;
}

header .group2 .inner .group_weather .location {
  padding-left: 9px;
  font-size: 12px;
  color: grey;
  text-align: right;
}

header .group2 .inner .group_nav .nav-list .mail::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-position: -420px -73px;
  vertical-align: top;
  margin: 3px 9px 0 0;
}

header .group2 .inner .group_nav .nav-list .shopping {
  display: block;
  padding: 5px 0;
}

header .group2 .inner .group_nav .nav-list .shopping::before {
  content: "";
  display: block;
  width: 24px;
  height: 20px;
  background-position: -154px -389px;
}

header .group2 .inner .group_nav .nav-list .shopping-live {
  display: block;
  padding: 5px 0;
}

header .group2 .inner .group_nav .nav-list .shopping-live::before {
  content: "";
  display: block;
  width: 54px;
  height: 20px;
  background-position: -202px -299px;
}

header .group2 .inner .group_nav .nav-list .tv::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 14px;
  background-position: -444px -49px;
  margin: 9px 2px 0 0;
  vertical-align: top;
}
/* SECTION */
section {
  min-height: 700px;
  background-color: lightgray;
}

/* FOOTER */
footer {
  background-color: #fafbfc;
  border-top: 1px solid #e4e8eb;
  line-height: 16px;
}

footer .inner {
  width: 1130px;
  padding: 0 30px 92px;
  margin: 0 auto;
}

footer .inner .banner-area {
  height: 86px;
  padding: 24px 0;
  border-bottom: 1px solid #e4e8eb;
}

footer .inner .notice-area {
  overflow: hidden;
  padding: 16px 0 15px;
  border-bottom: 1px solid #e4e8eb;
  color: #202020;
  font-weight: bold;
}

footer .inner .notice-area::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .notice-area a:hover {
  text-decoration: underline;
}

footer .inner .notice-area .notice {
  float: left;
}

footer .inner .notice-area .all-service {
  float: right;
}

footer .inner .notice-area .all-service::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  background-position: -444px -268px;
  margin-left: 10px;
  vertical-align: -2px;
}

footer .inner .aside-area {
  border-bottom: 1px solid #e4e8eb;
}

footer .inner .aside-area::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .aside-area a:hover {
  text-decoration: underline;
}

footer .inner .aside-area .partner-box-wrap {
  padding: 20px 0;
  width: 780px;
  float: left;
}

footer .inner .aside-area .partner-box::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .aside-area .partner-box + .partner-box {
  margin-top: 9px;
}

footer .inner .aside-area .partner-box .title {
  float: left;
  width: 87px;
  font-weight: bold;
}

footer .inner .aside-area .partner-box .link-partner {
  float: left;
  color: #777;
}

footer .inner .aside-area .partner-box .link-partner + .link-partner::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  background-color: #e4e8eb;
  vertical-align: -1px;
  margin: 0 8px;
}

footer .inner .aside-area .service-box-wrap {
  float: right;
  width: 350px;
  padding: 28px 0;
}

footer .inner .aside-area .service-box-wrap::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .aside-area .service-box-wrap .service-box {
  float: left;
  max-width: 150px;
}

footer .inner .aside-area .service-box-wrap .service-box::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .aside-area .service-box-wrap .service-box > a {
  float: right;
  margin-left: 12px;
  display: block;
}

footer .inner .aside-area .service-box-wrap .service-box > a img {
  width: 48px;
  height: 48px;
  aspect-ratio: auto 48 / 48;
  border: 0;
}

footer .inner .aside-area .service-box-wrap .service-box .service-info {
  float: left;
}

footer .inner .aside-area .service-box-wrap .service-box .service-info strong {
  display: block;
  padding-top: 2px;
  font-weight: bold;
}

footer .inner .aside-area .service-box-wrap .service-box .service-info a {
  padding-top: 2px;
  color: grey;
}

footer .inner .aside-area .service-box-wrap .service-box + .service-box {
  margin-left: 50px;
}

footer .inner .aside-area .service-box-wrap .service-box + .service-box img {
  width: 47px;
  height: 50px;
  aspect-ratio: auto 47 / 50;
}

footer .inner .corp-area {
  padding-top: 25px;
}

footer .inner .corp-area::after {
  content: "";
  display: table;
  table-layout: fixed;
  clear: both;
}

footer .inner .corp-area a:hover {
  text-decoration: underline;
}

footer .inner .corp-area .corp-list {
  float: left;
  margin-right: 13px;
}

footer .inner .corp-area .corp-list::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .corp-area .corp-list .corp-item {
  float: left;
  color: #777;
}

footer .inner .corp-area .corp-list .corp-item + .corp-item::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 6px;
  background-color: #e4e8eb;
  vertical-align: -1px;
}

footer .inner .corp-area .corp-list .corp-item:nth-child(5) {
  font-weight: bold;
}

footer .inner .corp-area address {
  float: left;
  color: #202020;
  font-weight: bold;
}
